.spinner {
  position: absolute;
  top: 30%;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 200px;
  width: 100%;
  padding: 40px 20px;
}

.spinnerContainer {
  position: relative;
  width: 64px;
  height: 64px;
  margin-bottom: 24px;
}

.spinnerOuterCircle {
  position: absolute;
  width: 100%;
  height: 100%;
  border: 4px solid #f5f5f5;
  border-top: 4px solid #4481c3;
  border-radius: 50%;
  animation: spin 1s linear infinite;
}

.spinnerInnerCircle {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 40px;
  height: 40px;
  border: 3px solid #f5f5f5;
  border-right: 3px solid #4481c3;
  border-radius: 50%;
  animation: spinReverse 0.8s linear infinite;
}

.spinnerText {
  font-family: rubik, arial, sans-serif;
  font-size: 16px;
  font-weight: 400;
  color: #383838;
  margin: 0;
  letter-spacing: 0.5px;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

@keyframes spinReverse {
  0% {
    transform: translate(-50%, -50%) rotate(0deg);
  }
  100% {
    transform: translate(-50%, -50%) rotate(-360deg);
  }
}

